<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body>
        <div id="main-content">
            <h1>DMR DB Search</h1>
            <p>This site is very barebones because there isn't a lot for it to do.</p>
            <div class="center-content">
                <a class="buttonlink" href="/search">Search Entries</a>
                <a class="buttonlink" href="/add">Add Entry</a>
            </div>
        </div>        
    </body>
</html>