<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body>
        <div id="main-content">
            <h1>Tag Guide</h1>            
            <p>Tags should generally be short descriptors (around 1-2 words) of whatever is being uploaded. These can be whatever you want <em>for the most part,</em> however there are standard for the more common ones:</p>
            <p><b>Seasons</b> are always represented as a "s" followed by the season number, and should always be included in the tags. (ex. s19, s17, s5)</p>
            <p><b>Weapons</b> should always be tagged with its type (lfr, sidearm, auto, pulse, gl, etc.), its energy type (kinetic, solar, arc, void, etc.), and rarity (rare, legendary, exotic, etc.).</p>
            <p><b>Armor</b> should always be tagged with its type (arms, chest, head, legs, class item), its energy type (kinetic, solar, arc, void, etc.), and rarity (rare, legendary, exotic, etc.).</p>
            <p><b>NPCs</b> should always be labeled with species (fallen, cabal, hive, etc.)</p>
            <p>All items should also be tagged with their broader type (weapon, armor, NPC, map, shader, sparrow, etc.).</p>
            <hr>
            <p>Beyond that you can add basically whatever you want- more (relevant) tags are generally better because it makes it easier to search for a given item. The reason there's a standard at all for tags is to establish a language that people can use in their search to accurately find things. Otherwise, a search like "s19" might pull things tagged as "s19" but not "Season 19" or "Season of the Seraph," which can lead to confusion. Having a standard means that you can type "s19 void pulse" without having to try changing the terms around to get the right result.</p>
        </div>        
    </body>
</html>